streamlit
pdfplumber
ocrmypdf
sentence-transformers
scikit-learn
spacy
# We install the spaCy model directly via URL so the server downloads it automatically
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
torch
numpy